


#setimgs>.carousel-inner>.carousel-item>img { width:100%;}


.index-write {width:100%}
.index-black {width:100%;background-color:#1b1b1b}
.index-black-set {width:100%;background-color:#1b1b1b;color:#fff}
.index-black-set img:first-child {width: 60%;}
.index-black-set .col-6:last-child img:first-child {width:80px;}
.index-black-set .col-6:last-child img:last-child { width:128px;}
.index-black-set .col-6:last-child a {display: block;}

.index-title {width:100%;margin:2rem 0;}
.index-title>div {height:4rem;display: flex;width:100%;position: relative;}
.index-title>div::after {content:" ";display:block;height:1px;width:100%;margin-top:2.5rem;position: absolute;background-color: #999;}
.index-title>div>span {display: inline-block; margin:0 auto;background-color: white;z-index:1;padding:0 2rem;font-size:3rem;}
.index-title>span {display: block;width: 100%;text-align: center;font-size: 1.1rem;}


.index-news img {width:100%;}
.index-news-mimg img {width:100%}
.index-news-mimg>div:first-child {width:100%;position: relative;}
.index-news-mimg>div:first-child>span {display: inline-block;position: absolute;bottom:0px;font-size: 0.8rem;padding:0.2rem 0.5rem;
    background-color:rgba(0,0,0,0.5);left:0;color:#fff}
.index-news-mimg>div:nth-child(2) {font-size: 1rem;padding:0.5rem 0;line-height: 1.5rem;height:3.7rem;overflow: hidden;
    text-overflow: ellipsis;white-space: break-all;}
.index-news-mimg>div:nth-child(3)   {font-size: 0.9rem;color:#999;line-height:1.2rem;height:3.6rem;overflow: hidden;text-overflow: ellipsis;}


.btn-index {height:1.7rem;background:#000;width:12rem;margin:2rem auto;text-align: center;}
.btn-index a {color:white;font-size: 0.9rem; line-height: 1.7rem;}

.index-sliding-box img {width:100%}
.index-sliding-box>div {overflow:hidden; position: relative;width:97.7%;margin:0 auto}   
.index-sliding {position: absolute;bottom:-4rem;background-color:rgba(0,0,0,0.5);color:#fff;
    box-sizing: border-box;transition: bottom ease 0.2s;padding:1rem;}
.index-sliding>span {display: inline-block;position: absolute;bottom:0px;font-size: 0.8rem;padding:0 0.5rem;height:1.4rem;line-height: 1.4rem;
    background-color:rgba(0,0,0,1);left:0;color:#fff;top:-1.4rem}
.index-sliding>div:nth-child(2) {font-size:1.5rem;padding: 0.5rem 0.5rem 0.5rem;box-sizing:border-box;}
.index-sliding>div:last-child {font-size:0.8rem;line-height: 1.5rem;width:100%;height:3rem; overflow: hidden;text-overflow:ellipsis;}
.index-sliding-box:hover .index-sliding {bottom:0rem;transition: bottom ease 0.2s;}

.index-events {width: 100%;position: relative;margin-top:1rem;}
.index-events img{width:100%;}
.index-events div {background-color: rgba(0,0,0,0.3);color:#fff;position: absolute;top:0;height:100%;width: 100%;
font-size: 1.5rem;align-items:center;display: -webkit-flex;justify-content: center;}

.index-black-img {width:80%;margin:0 auto;border:0.5rem solid #000}
.index-black-img img {width:100%;}



@media screen and (max-width:992px){
    #setimgs {margin-top:2rem;}
    .index-title>div>span {display: inline-block; margin:0 auto;background-color: white;z-index:1;padding:0 1rem;font-size:1.2rem;
    line-height: 4rem;}
    .index-sliding  {bottom:0;}
    .index-black-img {width:100%;}
}